<!-- Footer and Contact details -->
<div class="footer">
    <a class="fab fa-facebook-f footer-icon" href="https://www.facebook.com/mitch7w"></a>
    <a class="fab fa-instagram footer-icon" href="https://www.instagram.com/mitch7w"></a>
    <a class="fab fa-youtube footer-icon" href="https://www.youtube.com/mitch7w"></a>
    <a class="fab fa-envelope footer-icon" href="mailto:mitchell.luke.williams@gmail.com"></a>
    <p>2020 Mitch Williams</p>
  </div>
</body>
</html>
