<!-- Footer and Contact details -->
<div class="footer">
  <a class="fa fa-3x fa-envelope footer-icon" href="mailto:mitchell.luke.williams@gmail.com"></a>
  <a class="fa fa-3x  fa-instagram footer-icon" href="https://www.instagram.com/mitch7w"></a>
  <a class="fa fa-3x  fa-youtube footer-icon" href="https://www.youtube.com/mitch7w"></a>
  <a class="fa fa-3x  fa-github footer-icon" href="https://github.com/mitch7w"></a>
  <p>2020 Mitch Williams</p>
</div>
</body>

</html>