<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mitch Williams</title>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/7eb65e845b.js" crossorigin="anonymous"></script>
  <script src="script.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar">
    <div class="brand-title">
      <a href="/">Mitch Williams</a>
    </div>

    <!-- Hamburger drop down -->
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/vlog">Vlog</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>