<!DOCTYPE html>



<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mitch Williams</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/7eb65e845b.js" crossorigin="anonymous"></script>
  <script src="script.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <div class="brand-title">
      <a href="/">Mitch Williams</a>
    </div>

    <!-- Hamburger drop down -->
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/vlog">Vlog</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>



  <!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mitch Williams</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
     Font Awesome Icons -->
  <!-- <script src="https://kit.fontawesome.com/7eb65e845b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class= "navbar navbar-dark navbar-expand-lg">
<a class = "navbar-brand" href="/">Mitch Williams</a>
<a class = "nav-link" href="/blog">Blog</a>
<a class = "nav-link" href="/vlog">Vlog</a>
<a class = "nav-link" href="/portfolio">Web Development Portfolio</a>
<a class = "nav-link" href="/about">About</a>
    </nav> -->
