<%- include("partials/header") ; -%>
<div class="textBlock">
  <h1>Mitch Williams</h1>
  <h4>Computer Engineering Student</h4>
  <p>I'm in my third year of Computer Engineering at The University of Pretoria and it's every bit as hard as I thought it would be. I've always been wowed by technology and so steering my career in the direction of a technology job was a natural
    fit. The degree is challenging me in thousands of tiny different ways, but I know that this study of signals, circuits, coding and other engineering topics will ultimately make me a much more capable young human being. And land me a job...</p>
  <h4>YouTuber</h4>
  <p>As every young self-absorbed person does, I dreamt of being semi-famous for just being me a long time ago. My vlog is on 250+ episodes now and going strong. If you watch a few of my videos you'll see they're mostly about my day-to-day graft for
    varsity, things I've been thinking about or the occasional clickbaity day-in-the-life video. Did I mention I wanted to be well-known for just being me? It's real life stuff. It's also a welcome distraction from work and is a really cool way for
    me to
    share my ideas
    and experiences with friends, family and kind strangers on the internet who might gain some value from them.</p>
  <h4>Aspiring futurist</h4>
  To be honest I just needed a third suitably ostentatious description of myself here. But I really am a fan of technology and all the ways it has improved life on Earth. I read a lot and most of what I read is non-fiction science books about how
  the modern world has come to be and how smart people are going to make it better with technology. I love thinking about the future and all the cool things humanity is going to do it in and it's kind of the unofficial guiding force for a lot of
  what I create - including this website.
  <br /><br />
  <p>If you read all of this consider me impressed. Thank you for your attention and have a great day.</p>

</div>
<%- include("partials/footer") ; -%>
