<%- include("partials/header") ; -%>
<div class="textBlock">
  <p>Longer more thought-out musings about life, technology and stuff.</p>
  <ul>
    <li>First blog post</li>
    <li>second blog post</li>
    <li>third blog post</li>
  </ul>
</div>
<%- include("partials/footer") ; -%>
