<%- include("partials/header") ; -%>

<main>
  <div class="row">
    <div clas="column">
      <div class="textBlock1">
        <h1>Hey, I'm Mitch.</h1>
        <h4>Computer Engineering Student</h4>
        <h4>YouTuber</h4>
        <h4>Aspiring futurist</h4>
      </div>
    </div>
    <div class="column">
      <div class="img1">
        <img src="/img/mitch_PP.png" alt="Mitch Williams">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="textBlock2">
        <h2>I've got a <a href="youtube.com/mitch7w">YouTube</a> channel</h2>
        <h2>And I just started this <a href="/blog">blog.</a></h2>
        <h2>I'm a computer engineering student at Tuks and also make YouTube videos, love learning and am working on a
          lot
          of
          long-term projects. </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="textBlock3">
        <h4>I built this site using Node.js and in addition to it being my first foray into web development, use it as
          central
          repository for all the things I do on the internet.</h3>
          <h4>I live in South Africa and am really set on making my wildest ambitions a reality through working,
            learning
            and
            having a great time with the people around me.</h3>
      </div>

    </div>
  </div>













</main>

<%- include("partials/footer") ; -%>