<%- include("partials/header") ; -%>
<div class="textBlock">
  <h1>Hey, I'm Mitch.</h1>
  <h4>Computer Engineering Student</h4>
  <h4>YouTuber</h4>
  <h4>Aspiring futurist</h4>
</div>
<div class="textBlock">
  <h2>I've got a YouTube channel</h2>
</div>
<div class="textBlock">
  <h2>And I just started this blog.</h2>
</div>
<div class="textBlock">
  <h2>I'm a computer engineering student at Tuks and also make YouTube videos, love learning and am working on a lot of long-term projects. </h2>
  <br> <br>
  <h3>I built this site using Node.js and in addition to it being my first foray into web development, use it as central repository for all the things I do on the internet.</h3>
  <br> <br>
  <h3>I live in South Africa and am really set on making my wildest ambitions a reality through working, learning and having a great time with the people around me.</h3>
</div>


<%- include("partials/footer") ; -%>
