<%- include("partials/header") ; -%>

<div class="flexbox-container-horiz">
  <h1 class="flexbox-item1"><a href="https://www.youtube.com/mitch7w">YouTube channel</a></h1>
  <iframe class="ytd" width="560" height="315" src="https://www.youtube.com/embed/Ak0csEOMV34" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="flexbox-container-vert">
  <p>If you prefer to watch what I'm up to these days, you can check out my vlog.</p>
  <p> I started it as a way to document my life at university and actually remember all the cool stuff that happens in
    my youth.</p>
  <p> A lot of people tell me it's really valuable to see what university life is like and so here's to hoping people
    find value in it for a while longer. </p>
</div>


<%- include("partials/footer") ; -%>