* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  /* CSS Variables */
  --dark-text: #fff;
  --dark-background: #12181b;
  --dark-card-background: #ff6600;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ff8533;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: (--dark-card-background);
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-decoration: none;
  color: white;
}

.brand-title a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}


.brand-title:hover a {
  background-color: #ff5500;
  text-decoration: none;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: #ff5500;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
}

.fa {
  color: var(--dark-card-background);
  padding: 1% 2%;
}

a {
  color: currentColor;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

main {
  /* display: grid;
  grid-template-areas:
    "textBlock1 img1"
    "textBlock2 textBlock2"
    "textBlock3 textBlock3"; */
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
  text-align: center;
}

.vlogGrid {
  display: grid;
  grid-template-areas:
    "vlogTitle"
    "ytd"
    "vlogText";
  justify-items: center;
  align-items: center;
  gap: 40px;
  padding: 2rem;
  text-align: center;
  background-color: var(--dark-card-background);
  margin: 5rem;
  border-radius: 1rem;
}

.blogGrid {
  display: grid;
  grid-template-areas:
    "blogTitle""blogDate""postDescrip""postHR";
  padding: 1rem 2rem 1rem 2rem;
  text-align: left;
  background-color: var(--dark-card-background);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.individualBlogGrid {
  display: grid;
  grid-template-areas:
    "blogTitle""blogDate""postDescrip""postHR";
  padding: 1rem 2rem 2rem 2rem;
  text-align: left;
  background-color: var(--dark-card-background);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}


.blogTitle {
  padding-bottom: 0;
}

.blogDate {
  grid-area: blogDate;
}

.postDescrip {
  grid-area: postDescrip;
  white-space: pre-line;
}

.postHR {
  grid-area: postHR;
}

.separateText {
  padding-left: 1rem;
}

.separateTextAbout {
  text-align: center;
}

.aboutGrid {
  display: grid;
  grid-template-areas:
    "h1""h2""p""h2""p""h2""p";
  justify-items: center;
  align-items: center;
  margin: 3rem 5rem 0 5rem;
  text-align: center;
  background-color: var(--dark-card-background);
  border-radius: 1rem;
  padding: 0rem 2rem 1rem 2rem;
}

img {
  height: 300px;
  padding: 0;
}

body {
  color: var(--dark-text);
  background-color: var(--dark-background);
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 50%;
  max-width: 50%;
  align-items: center;
  justify-content: center;
}

.textBlock1 {
  background-color: var(--dark-card-background);
  border-radius: 1em;
  padding: 2rem ;
  margin-left: 2rem;
}

.textBlock2 {
  background-color: var(--dark-card-background);
  border-radius: 1em;
  padding: 2rem;
  margin: 2rem 0 2rem 0 ;
}

.textBlock3 {
  background-color: var(--dark-card-background);
  border-radius: 1em;
  padding: 2rem;
  margin: 2rem 2rem 0 2rem;
}

.footer {
  padding-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 830px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .textBlock1 {
    margin: 3rem;
    padding: 1rem;
  }

  .textBlock2 {
    margin: 3rem;
    padding: 1rem;
  }

  .textBlock3 {
    margin: 3rem;
  }
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}