:root {
  font-size: 16px;
  font-family: "Open Sans";
  /* CSS Variables */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: orange;
  margin: 0;
  padding: 0;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  /* Stops navbar overlapping other content */
  margin-top: 5rem;
  padding: 1rem;
}

.navbar {
  height: 5rem ;
  width: 100vh ;
  position: fixed;
  background-color: var(--bg-primary) ;
}

.textBlock {
  padding: 3%;
}

.footer {
  text-align: center;
}

.fab {
  color: black;
  padding: 1% 2%;
}

a {
  color: currentColor;
}
