* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  /* CSS Variables */
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: #ff5500;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
}

.brand-title {
  font-size: 1.5rem;
  margin 0.5rem;
  text-decoration: none;
  color: white;
}

.brand-title a {
  text-decoration: none;
  padding: 1rem ;
  display: block;
}

.brand-title:hover a {
  background-color: #ff5500;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: #ff5500;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.textBlock {
  padding: 3%;
}

.footer {
  text-align: center;
}

.fab {
  color: black;
  padding: 1% 2%;
}

a {
  color: currentColor;
  text-decoration: none;
}

.flexbox-container-horiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.flexbox-item1 {
  flex-shrink: 0 ;
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.flexbox-container-vert {
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ytd {
  padding: 1rem;
}
